<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<!--
<script src="scripts/lib.js"></script>
-->
  <meta charset="utf-8">
  <title>AngularJS lifecycle demo</title>
  <style type="text/css" media="screen">
      .ng-scope {
        border: 1px solid red;
      }
  </style>
  <script>
    angular.module('myApp', [])
    .controller('MainCtrl', [function () {

      var counter = 0;

      var self = this;
      //self.Name = "Will";
      
      this.doAction = function() {
        self.Name += "!";
      };
      
      this.doWork = function() {
        counter++;
        console.log("doWork: " +  counter);
        return self.Name2;
      };
    }]);

  </script>
</head>
<body ng-app="myApp">
  <div ng-controller="MainCtrl as main" id="main">
    請輸入姓名: <input type="text" ng-model="main.Name">
    <input type="text" ng-model="main.Name2">
    <br>
    {{main.Name}} 你好!
    <br>
    <button ng-click="main.doAction()">按我變更名稱</button>
    <br>
    {{main.doWork()}}
  </div>
</body>
</html>